* {
    box-sizing: border-box;
}

form {
    width: 500px;
    height: 100px;
    margin: auto auto;
    text-align: center;
}

.results {
    margin: auto auto;
    width: 800px;
    height: auto;
}


.hidden {
    display: none;
}

